{{extend './_layouts/layout.html'}}

{{block 'title'}}
<title>苏立科技-关于苏立</title>
{{/block}}

{{block 'style'}}
<link rel="stylesheet" href="/public/css/exp.css">
{{/block}}

{{block 'content'}}
<div class="exp">
    <div class="sbanner">
        <img src="/public/img/suliBgi.jpg" id=sbannerImg  alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-1"> 
                <div class="position-sticky hidden-sm hidden-xs" data-spy="affix" data-offset-top="340">
                    <div class=stickyTitle>
                        <h3>关于苏立</h3>
                        <div>- About Su Li -</div>
                    </div>
                    <div class="stickyContent">
                        <ul class="list-unstyled">
                            <li><a href="/aboatSu">公司概况</a></li>
                            <li><a href="./aboatSuLi/s2.html">企业文化</a></li>
                            <li><a href="./aboatSuLi/s3.html">资质荣誉</a></li>
                            <li><a href="./aboatSuLi/s4.html">发展历程</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
                
            <div class="col-lg-9 col-2">
                <div class="position-sticky2 hidden-lg">
                    <div class="stickyContent2">
                            <ul class="list-unstyled">
                                <li class="col-sm-2  col-xs-3"><a href="/aboatSuLi">公司概况</a></li>
                                <li class="col-sm-2  col-sm-offset-1 col-xs-3 col-xs-offset-1"><a href="../aboatSuLi/s2.html">企业文化</a></li>
                                <li class="col-sm-2  col-sm-offset-1 col-xs-3 col-xs-offset-1"><a href="../aboatSuLi/s3.html">资质荣誉</a></li>
                                <li class="col-sm-2  col-sm-offset-1 col-xs-11"><a href="../aboatSuLi/s4.html">发展历程</a></li>
                            </ul>
                    </div>
                </div>     
                <div class="guide hidden-md hidden-sm hidden-xs">
                    <div class="guiTitle justify-content-between">实验中心</div>
                    <div class="guiLocation">
                        <span class="pos">当前位置：</span>
                        <a href="#">实验中心</a>
                    </div>
                </div>
                <div  class="body">
                    <div class="content">
                        <ul class="list-unstyled">
                            {{each equipments}}
                            <li class="col-sm-4 col-xs-6">
                                <a href="/exp/{{$value._id.toString()}}">
                                    <img src="/public/img/{{$value.img}}">
                                </a>
                                <h3 class="contTitle">
                                    <a href="#" targrt="_blank">{{$value.name}}</a>
                                </h3>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'script'}}{{/block}}