{{extend './_layouts/layout.html'}}

{{block 'title'}}
<title>苏立科技-关于苏立</title>
{{/block}}

{{block 'style'}}
<link rel="stylesheet" href="/public/css/news1.css">
{{/block}}

{{block 'content'}}
<div class="news1">
    <img src="/public/img/tt.jpg" class="img">
    <div class="container">
        <div class="news-box pull-right col-lg-3 col-md-3 hidden-sm hidden-xs" data-spy="affix" data-offset-top="125">
            <div class="news-center">
                新闻中心
                <div class="box1">-News Center-</div>
            </div>
            <div class="news-body">
                <div class="box2 active">
                    <a href="./news1.html">公司动态</a>
                    <div class="box3">
                        <a href="./news1.html">公司动态</a>
                        <div class="arrow1"></div>
                    </div>
                </div>
                <div class="box21">
                    <a href="./news2.html">行业新闻</a>
                    <div class="box4">
                        <a href="./news2.html">行业新闻</a>
                        <div class="arrow2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news-btn  hidden-lg hidden-md">
            <button class="btn pull-left "><a href="./news1.html">公司动态</a></button>
            <button class="btn pull-left "><a href="./news2.html">行业新闻</a></button>
        </div>
        <div class="header col-lg-9 col-md-9 hidden-sm hidden-xs">
            <div class="title pull-left">
                公司动态
            </div>
            <div class="address pull-right">
                <span>当前位置：</span>
                <span><a href="#">新闻中心</a></span>
                <span>>></span>
                <span><a href="#">公司动态</a></span>
            </div>
        </div>
        <div class="content col-lg-9 col-md-9 col-sm-11 col-xs-11">
            <ul>
                {{each news}}
                <li>
                    <div class="pull-left date text-center">
                        <h3>28</h3>
                        <h5>2021-09</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="/news/{{$value._id.toString()}}">{{$value.title}}</a></div>
                        <div>
                            {{$value.content[0]}}
                        </div>
                    </div>
                </li>
                {{/each}}

                <!-- <li>
                    <div class="pull-left date text-center">
                        <h3>07</h3>
                        <h5>2021-09</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news12.html">苏立科技成功认定为“省级工业设计中心”</a></div>
                        <div>
                            2021年9月6日，安徽省经济和信息化厅官网公布了2021年（第八批）省级工业设计中心拟认定名单，拟认定155家企业为省级工业设计中心，安徽苏立科技股份有限公司工业…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>12</h3>
                        <h5>2021-08</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news13.html">苏立用“芯”“智”造，市级数字化车间来了！</a></div>
                        <div>
                            热烈祝贺安徽苏立科技股份有限公司“水加热管车间”获批“芜湖市数字化车间”荣誉！2021年7月6日，芜湖市经信局公布2021年市级数字化车间…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>24</h3>
                        <h5>2021-07</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news14.html">健康家电千千万，苏立消毒干衣柜如何脱颖而出？</a></div>
                        <div>
                            自我国积极应对新冠肺炎的疫情以来，现大体趋势已日渐好转，4月27日早报：#武汉在院新冠肺炎患者清零#，不得不说，在国人的共同努力下，我们在这场全球性的战“疫”中已经取得…
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="pull-left date text-center">
                        <h3>24</h3>
                        <h5>2021-07</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news15.html">和五星大厨之间，原来只差了这一口锅？！</a></div>
                        <div>
                            现代生活节奏快 人们也总是为不做饭找遍了各种理由 会做饭的嫌麻烦，厨房小白更是一脸懵 疫情…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>24</h3>
                        <h5>2021-07</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news16.html">喜讯！苏立智能消毒干衣柜成功入驻世界五百强企业集体宿舍！</a></div>
                        <div>
                            2020年10月，苏立智能消毒干衣柜正式入驻世界五百强企业的高管宿舍，为单位内的高管、专家人士等配备并安装到位，解决了单位宿舍干衣速度慢，衣物霉菌无法消除…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>24</h3>
                        <h5>2021-07</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news17.html">喜报！苏立科技荣获国家工信部第二批认定的专精特新“小巨人”！</a></div>
                        <div>
                            国务院在“国发〔2020〕14号文件中提到，支持优质企业上市，大力发展创业投资，培养科技型、创新型企业，支持制造业单向冠军、专精特新“小巨人”等企业发展…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>24</h3>
                        <h5>2021-07</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news18.html">喜报！苏立科技实验中心CNAS认证通过！</a></div>
                        <div>
                            一、中国合格评定国家认可委员会CNAS是国际实验室认可合作组织（ILAC）和亚太认可合作组织（APAC）的互认协议成员，是国内唯一一家具备颁发国家认可实验…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>04</h3>
                        <h5>2021-03</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news19.html">扶贫攻坚，苏立不缺席！</a></div>
                        <div>
                            履行社会责任，响应习主席“十三五期间”扶贫攻坚的工作要求，在芜湖市政府的指引下，公司积极参与扶贫工作。
                            2020年通过市科技局和经信局引荐，苏立科技在无为市陡沟镇双圩…
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>08</h3>
                        <h5>2021-02</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news110.html">董事长新年致辞：倡实干，铸转型；谱新篇，创辉煌！赢战2021！</a></div>
                        <div>
                            亲爱的苏立家人们：大家新年好！时光荏苒，春华秋实，2020年已悄然结束，寒冬将过，新春已至。奋斗的征程，只有进行时没有完成时；正如新年的… </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>06</h3>
                        <h5>2021-02</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news111.html">走科技创新之路，苏立科技矢志不渝</a></div>
                        <div>
                            在刚刚结束的芜湖市鸠江区政府工作会议上，苏立科技再次荣获“鸠江区2020年度科技创新十强企业”荣誉称号，感谢区政府各级领导的肯定和鼓励！
                        </div>
                    </div>
                </li>
                <li>
                    <div class="pull-left date text-center">
                        <h3>03</h3>
                        <h5>2021-02</h5>
                    </div>
                    <div class=" event">
                        <div class="title"><a href="./news112.html">苏立集团“倡实干、铸转型、谱新篇、创辉煌” 2020年度经营管理年会顺利召开</a></div>
                        <div>
                            为全面总结2020年度集团经营状况，部署2021年经营任务，苏立集团“倡实干、铸转型、谱新篇、创辉煌 ”经营管理年会于1月30日准时召开。苏立科技集团董事长孔炜、总经…
                        </div>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</div>

{{/block}}
{{block 'script'}}
<script>
    $(function () {
        $(".box21").mouseover(function () {
            // console.log(111);
            // $(".box21").removeClass("avtive")
            $(".box2").css("backgroundColor", "rgb(1, 92, 173)")
        })
        $(".box21").mouseleave(function () {
            // console.log(111);
            // $(".box21").removeClass("avtive")
            $(".box2").css("backgroundColor", "rgb(241, 140, 0)")
        })
        $(".dropdown-menu>.li2").mouseover(function () {
            $(".dropdown-menu>.li1").removeClass("active")
            $(".dropdown-menu>.li2").addClass("active")
        })
        $(".dropdown-menu>.li1").mouseover(function () {
            $(".dropdown-menu>.li2").removeClass("active")
            $(".dropdown-menu>.li1").addClass("active")
        })

    })

</script>
{{/block}}