{{extend './_layouts/layout.html'}}

{{block 'title'}}
<title>苏立科技-关于苏立</title>
{{/block}}

{{block 'style'}}
<link rel="stylesheet" href="/public/css/exp3.css">
{{/block}}

{{block 'content'}}
<div class="pro">
    <div class="sbanner">
        <img src="/public/img/suliBgi.jpg" id=sbannerImg alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="position-sticky hidden-xs" data-spy="affix" data-offset-top="340">
                    <div class=stickyTitle>
                        <h3>{{product_class.name}}</h3>
                        <div>- Product Center -</div>
                    </div>   
                    <div class="stickyContent">
                        <ul class="list-unstyled">
                            <li class="li1{{product.category==1?' active':''}}"><a href="/product01" class="a1">清洁热能</a></li>
                            <li class="li2{{product.category==2?' active':''}}"><a href="/product02" class="a2">健康电器</a></li>
                            <li class="li3{{product.category==3?' active':''}}"><a href="/product03" class="a3">电热部件</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 mt-5 mt-lg-0">
                <div class="guide">
                    <div class="guiTitle justify-content-between">{{product_class.name}}</div>
                    <div class="guiLocation">
                        <span class="pos">当前位置: {{product_class.name}}</span>    
                    </div>
                </div>
                <div class="body">
                    <div class="content col-md-4 col-xs-6">
                        <ul class="list-unstyled">
                            {{each product}}
                            <li>
                                <a href="/product/{{$value._id.toString()}}">
                                    <img src="/public/img/{{$value.img}}">
                                </a>
                                <h3 class="contTitle">
                                    <a href="#" targrt="_blank">{{$value.name}}</a>
                                </h3>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/block}}
{{block 'script'}}
<script>
// $(function(){
//     $(".stickyContent>ul>li").click(function(){
//          $(".stickyTitle>h3").innerhtml= $(".stickyContent>ul>li>a").html();   
//     })
// })
</script>  
{{/block}}