{{extend './_layouts/layout.html'}}

{{block 'title'}}
<title>苏立科技-关于苏立</title>
{{/block}}

{{block 'style'}}
<link rel="stylesheet" href="/public/css/contact/rec.css">
{{/block}}

{{block 'content'}}
<div class="rec">
    <div class="sbanner">
        <img src="/public/img/expRecCon/suliBgi.jpg" id=sbannerImg  alt="">
    </div>
    <div class="container cr">
        <div class="row">
            <div class="col-lg-3 col-1"> 
                <div class="position-sticky hidden-md hidden-sm hidden-xs" data-spy="affix" data-offset-top="340">
                    <div class=stickyTitle>
                        <h3>企业招聘</h3>
                        <div>- Enterprice recruitment -</div>
                    </div>
                    <div class="stickyContent">
                        <ul class="list-unstyled">
                            <li class=" active"><a href="#">人才理念</a></li>
                            <li><a href="../experimentRecruitContact/rec2.html">人才招聘</a></li>
                        </ul>
                    </div>
                </div>              
            </div>

            <div class="col-lg-9 col-2 clearpos">
                <div class="position-sticky2 hidden-lg">
                    <div class="stickyContent2">
                        <ul class="list-unstyled">
                            <li class="col-xs-5"><a href="#">人才理念</a></li>
                            <li class="col-xs-5 col-xs-offset-1"><a href="rec2.html">人才招聘</a></li>
                        </ul>
                    </div>
                </div>     
                <div class="guide hidden-md hidden-sm hidden-xs">
                    <div class="guiTitle">人才理念</div>
                    <div class="guiLocation">
                        <span class="pos">当前位置：</span>
                        <a href="rec1.html">企业招聘</a>
                        >>
                        <a href="rec1.html">人才理念</a>
                    </div>
                </div>
                <div  class="body">
                    <div class="content">
                        <P>人尽其材，物尽其用</P>
                        <P>
                            公司秉承以人为本的企业经营理念，坚持用广阔的发展前景凝聚人，用美好的事业目标激励人。
                            通过建立科学有效的人才机制，营造积极良好的人才成长环境，致力于为每一位员工提供一个充分施展才华的舞台，
                            并通过不断创造个人的发展机会，让各类人才都拥有获得成功、实现自我价值的机遇和平台。
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/block}}
{{block 'script'}}{{/block}}