{{extend './_layouts/layout.html'}} {{block 'title'}}
<title>关于苏立</title>
{{/block}} {{block 'style'}}
<link rel="stylesheet" href="../public/css/pro.css"> {{/block}}
<!-- <link rel="stylesheet" href="./css/bottom.css">
<link rel="stylesheet" href="./fonts/iconfont.css"> -->
{{block 'content'}}
<div class="d">
    <img src="../public/img/tt.jpg" alt="" style="width:100%;position: relative;top:-20px;z-index:-1">
    <div class="container">
        <div class="row">
            <div class="td col-lg-3 col-md-3 hidden-sm hidden-xs right" data-spy="affix" data-offset-top="400">
                <div class="sl_gy text-center hidden-sm hidden-xs">
                    <h3>关于苏立</h3>
                    <p>- About Su Li -</p>
                </div>
                <div class="navp">
                    <ul class="nav hidden-xs hidden-sm">
                        <li class="active">
                            <a href="s1.html">公司概况</a></li>
                        <li><a href="s2.html">企业文化</a></li>
                        <li><a href="s3.html">资质荣誉</a></li>
                        <li><a href="s4.html">发展历程</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-content col-lg-9 col-md-9 left">
                <div class="tab-pane active">
                    <div class="tt">
                        <div class="title">发展历程</div>
                        <div class="adr"><span class="pos">当前位置：</span><a href=?mid=2>关于苏立</a> >> <a href=?mid=7>发展历程</a></div>
                    </div>
                    <img src="../public/img/licheng.jpg" alt="" style="width:100%">

                </div>
            </div>
        </div>
    </div>
    {{/block}} {{block 'script'}}
    <script>
    </script>
    {{/block}}