.rec {
  overflow: hidden;
}
.rec .contactus .row {
  padding-top: 0px !important;
}
.rec .stickyContent {
  height: 70px;
}
.rec .body .content #Telephonist {
  float: right;
  height: 540px;
}
.rec .body .content #Telephonist div {
  padding: 5px 0;
}
.rec .body .content #Telephonist .CompanyName {
  font-size: 2.6rem;
  font-weight: bold;
}
.rec .body .content #Telephonist .Address {
  font-size: 1.5rem;
}
.rec .body .content #Telephonist a {
  color: #000;
}
.rec .body .content #Telephonist a:hover {
  text-decoration: none;
}
.rec .affix {
  top: 0px;
  width: 20%;
}
.rec .stickyContent2 ul li {
  width: 100% !important;
}
.rec .col-2 {
  height: 800px;
}
@media screen and (min-width: 992px) {
  .body .content {
    height: 620px !important;
  }
  .col-2 {
    height: 620px !important;
  }
}
@media screen and (max-width: 992px) {
  .rec .content {
    height: 1140px !important;
  }
  .col-2 {
    height: 1140px !important;
  }
}
