<!-- 头部 -->
<header class="sl_topbar" style="font-size: 14px;background-color: #fff;">
    <div class="h hidden-xs hidden-sm hidden-md">
        <div class="a"></div>
        <div class="b text-center col-md-2 right hidden-xs hidden-sm hidden-md">
            <span>人才理念/联系方式</span>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <div class="g col-lg-3 col-xs-6 col-md-4 left">
                <img src="/public/img/logo.jpg " alt=" ">
            </div>
            <div class="m col-lg-3  col-md-4 hidden-sm hidden-xs">
                <p>专注热芯30年，让生活更健康</p>
                <p>清洁.智慧.健康</p>
            </div>
            <div class="x col-lg-3  col-md-4 right hidden-sm hidden-xs">
                <div class="media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </div>
                    <div class="media-body">
                        <p>服务热线</p>
                        <h3 class="media-heading">0553-8238688</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar sl_nav" style="margin-bottom: 0">
    <div class="container">
        <!--设置导航条的头的信息-->
        <div class="navbar-header">
            <!-- 小屏设备下展开折叠的按钮-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- 展开折叠信息 -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li class="active">
                    <a href="/">网站首页</a>

                </li>
                <li>
                    <a href="/aboutSu">关于苏立 </a>
                    <ul class="list-unstyled text-center hidden-xs hidden-sm">
                        <li><a>公司概况</a></li>
                        <li><a>企业文化</a></li>
                        <li><a href="#">资质荣誉</a></li>
                        <li><a>发展历程</a></li>
                    </ul>

                </li>
                <li>
                    <a href="/news">新闻中心</a>
                    <ul class="list-unstyled text- hidden-xs hidden-sm">
                        <li><a href="../../news/html/news1.html">公司动态</a></li>
                        <li><a href="../../news/html/news2.html">行业新闻</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/product">产品展示</a>
                    <ul class="list-unstyled text-center hidden-xs hidden-sm">
                        <li><a>清洁热能</a></li>
                        <li><a>健康电器</a></li>
                        <li><a>电热部件</a></li>

                    </ul>
                </li>
                <li>
                    <a href="/exp">实验中心</a>

                </li>
                <li><a href="/recruit">企业招聘</a>
                    <ul class="list-unstyled text-center hidden-xs hidden-sm">
                        <li><a href="../../experimentRecruitContact/rec1.html">人才理念</a></li>
                        <li><a href="../../experimentRecruitContact/rec2.html">人才招聘</a></li>
                    </ul>
                </li>
                </li>
                <li><a href="/contact">联系我们</a>
                    <ul class="list-unstyled text-center hidden-xs hidden-sm">
                        <li><a>联系方式</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>