{{extend '../_layouts/layout.html'}}

{{block 'title'}}
<title>苏立科技-行业新闻</title>
{{/block}}


{{block 'style'}}
<link rel="stylesheet" href="/public/css/news1.css">
<link rel="stylesheet" href="/public/css/news2.css">
{{/block}}

{{block 'content'}}
<div class="news1">
    <img src="/public/img/tt.jpg" class="img">
    <div class="container">
        <div class="news-box pull-right col-lg-3 col-md-3 hidden-sm hidden-xs" data-spy="affix" data-offset-top="125">
            <div class="news-center">
                新闻中心
                <div class="box1">-News Center-</div>
            </div>
            <div class="news-body">
                <div class="box2 ">
                    <a href="/news">公司动态</a>
                    <div class="box3">
                        <a href="/news">公司动态</a>
                        <div class="arrow1"></div>
                    </div>
                </div>
                <div class="box21 active">
                    <a href="/news/tradeNews">行业新闻</a>
                    <div class="box4">
                        <a href="/news/tradeNews">行业新闻</a>
                        <div class="arrow2"></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="news-btn  hidden-lg hidden-md">
            <button class="btn pull-left "><a href="/news">公司动态</a></button>
            <button class="btn pull-left "><a href="/news/tradeNews">行业新闻</a></button>
        </div>
        <div class="header col-lg-9 col-md-9 hidden-sm hidden-xs">
            <div class="title pull-left  ">
                行业新闻
            </div>
            <div class="address pull-right  ">
                <span>当前位置：</span>
                <span><a href="/news">新闻中心</a></span>
                <span>>></span>
                <span><a href="/news/tradeNews"> 行业新闻</a></span>
            </div>
        </div>
        <div class="box">
            <div>温馨提示：您尚未发布文章，文章充实后，界面更美观。</div>
            <div>操作指南：请登陆后台，录入图文信息。</div>
        </div>
    </div>
</div>

{{/block}}

{{block 'script'}}
<script>
    $(function () {
        $(".box2").mouseover(function () {
            // console.log(111);
            // $(".box21").removeClass("avtive")
            $(".box21").css("backgroundColor", "rgb(1, 92, 173)")
        })
        $(".box2").mouseleave(function () {
            // console.log(111);
            // $(".box21").removeClass("avtive")
            $(".box21").css("backgroundColor", "rgb(241, 140, 0)")
        })
        $(".dropdown-menu>.li2").mouseover(function () {
            $(".dropdown-menu>.li1").removeClass("active")
            $(".dropdown-menu>.li2").addClass("active")
        })
        $(".dropdown-menu>.li1").mouseover(function () {
            $(".dropdown-menu>.li2").removeClass("active")
            $(".dropdown-menu>.li1").addClass("active")
        })

    })

</script>
{{/block}}