{{extend '../_layouts/layout.html'}}
{{block 'title'}}
<title>人才招聘 - 安徽苏立科技股份有限公司</title>
{{/block}}

{{block 'style'}}
<link rel="stylesheet" href="/public/css/rec.css">
<link rel="stylesheet" href="/public/css/rec2.css">
{{/block}}
    
{{block 'content'}}
    <div class="rec" style="overflow: hidden;">
        <div class="sbanner">
            <img src="/public/img/suliBgi.jpg" id=sbannerImg alt="">
        </div>
        <div class="container cr">
            <div class="row">
                <div class="col-lg-3 col-1">
                    <div class="position-sticky hidden-md hidden-sm hidden-xs" data-spy="affix" data-offset-top="340">
                        <div class=stickyTitle>
                            <h3>企业招聘</h3>
                            <div>- Enterprice recruitment -</div>
                        </div>
                        <div class="stickyContent">
                            <ul class="list-unstyled">
                                <li><a href="/recruit">人才理念</a></li>
                                <li class=" active"><a href="/recruit/demand">人才招聘</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-2 clearpos">
                    <div class="position-sticky2 hidden-lg">
                        <div class="stickyContent2">
                            <ul class="list-unstyled">
                                <li><a href="/recruit">人才理念</a></li>
                                <li><a href="/recruit/demand">人才招聘</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="guide hidden-md hidden-sm hidden-xs">
                        <div class="guiTitle">人才招聘</div>
                        <div class="guiLocation">
                            <span class="pos">当前位置：</span>
                            <a href="/recruit">企业招聘</a>
                            >>
                            <a href="/recruit/demand">人才招聘</a>
                        </div>
                    </div>
                    <div class="body">
                        <div class="content">
                            <strong><span style="font-size:14px;">职能类别：结构主任工程师</span></strong><br>
                            <strong>职位信息：</strong><br>
                            1、负责智能消毒干衣机产品项目的推进；<br>
                            2、负责智能消毒干衣机产品结构的改进和优化；<br>
                            3、负责智能消毒干衣机产品的测试、验证推进。<br>
                            <strong>任职要求：</strong><br>
                            1、本科学历，机电相关专业；<br>
                            2、30-45岁，5年以上工作经验；<br>
                            3、3年以上家电/汽车等企业装配行业经验；<br>
                            4、具备良好的组织、沟通和协调能力，有钣金、结构项目管理经验，能接受加班。<br>
                            <br>
                            <strong><span style="font-size:14px;">职能类别：证券事务代表</span></strong><br>
                            <strong>职位信息：</strong><br>
                            1. 协助董事会秘书开展公司信息披露及投资者关系管理实务。<br>
                            2. 对接券商、会所、律所开展IPO项目的跟踪、反馈工作。<br>
                            3. 董事会会议、股东大会会议、监事会会议的组织筹备、负责会议记录工作并签字。<br>
                            4. 负责三会文件档案、董事会办公室文件档案整理、存档工作。<br>
                            5. 负责部门费用预算管理、日常费用报销工作。<br>
                            6. 负责苏立、汇贤工商办理、变更、年审、档案借调、档案归集等工作。<br>
                            7. 负责部门日常接待、5S等日常性后勤工作。<br>
                            <strong>任职要求：</strong><br>
                            1、诚信正直、爱岗敬业、认真仔细、高度的责任感、良好的职业道德；<br>
                            2、工作细致，吃苦耐劳，责任感强，良好的沟通能力、团队精神；<br>
                            <div style="white-space:nowrap;"><br></div>
                            联系电话：0553-8238688&nbsp; &nbsp; &nbsp; 邮箱：daimeng@sulicn.com<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/block}}

{{block 'script'}}{{/block}}